body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: orangered;
}

.navbar{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    float: left;
    text-align: right;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
}

.navbar a:hover{
    background-color: lightgray;
    color: black;
}

.active{
    background-color: lightgray;
    color: black;
}

.title{
    display: flex;
    justify-content: center;
}

.inputForm{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tempDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

#temp{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
}

#UV{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
}